version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: daily
    assignees:
      - anton-yurchenko
    labels:
      - dependencies
    ignore:
      - dependency-name: "*"
        update-types: [
          "version-update:semver-patch"
        ]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
    target-branch: main
    assignees:
      - anton-yurchenko
    ignore:
      - dependency-name: "*"
        update-types: [
          "version-update:semver-minor",
          "version-update:semver-patch"
        ]
